<div ng-controller="ConfigController">
	<nav class="navbar navbar-inverse navbar-fixed-top">
		<div class="container-fluid">
			<div class="navbar-header">
				<button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar"
						aria-expanded="false" aria-controls="navbar">
					<span class="sr-only">Toggle navigation</span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
					<span class="icon-bar"></span>
				</button>
				<a class="navbar-brand" href="#/config">配置个人云存储</a>
			</div>
			<div id="navbar" class="navbar-collapse collapse">
				<ul class="nav navbar-nav navbar-right">
					<li><a href="#">用户</a></li>
					<li><a href="#">帮助</a></li>

				</ul>
				<!--<form class="navbar-form navbar-right">-->
				<!--<input type="text" class="form-control" placeholder="Search...">-->
				<!--</form>-->
			</div>
		</div>
	</nav>


	<div class="container-fluid">
		<div class="row">
			<div class="col-sm-3 col-md-2 sidebar">
				<ul class="nav nav-sidebar">
					<li class="active"><a href="#"><b>配置项目</b> <span class="sr-only">(current)</span></a></li>
					<li><a href="#/config/network" id="openNetwork" >配置网络</a></li>
					<li><a href="#/config/disk">查看硬盘信息</a></li>
					<li><a href="#/config/reboot">重启</a></li>
				</ul>
			</div>

		</div>


		<div class="col-sm-9 col-sm-offset-3 col-md-10 col-md-offset-2 main">
			<!--<h1 class="page-header">总体运行状态</h1>-->

			<h2 class="sub-header">网络状态</h2>
			<div class="table-responsive">
				<div class="panel panel-default">
					<div class="panel-heading">
						有线
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<th >Mac地址</th>
									<th >IP地址</th>
								</tr>
								</thead>
								<tbody>
								<tr class="success">
									<td id="mac_addr">{{mac_addr}}</td>
									<td id="ip_addr">{{ip_addr}}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>


			<div class="table-responsive">
				<div class="panel panel-default">
					<div class="panel-heading">
						无线
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<!--<th>#</th>-->
									<th>ssid</th>
									<th>Username</th>
									<th>password</th>
								</tr>
								</thead>
								<tbody>
								<tr class="success">
									<!--<td>1</td>-->
									<td></td>
									<td></td>
									<td></td>
								</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>


			<h2 class="sub-header">存储状态</h2>

			<div class="table-responsive">
				<div class="panel panel-default">
					<div class="panel-heading">
						硬盘
					</div>
					<!-- /.panel-heading -->
					<div class="panel-body">
						<div class="table-responsive">
							<table class="table">
								<thead>
								<tr>
									<!--<th>#</th>-->
									<th>已使用</th>
									<!--<th>当前剩余</th>-->
									<th>总容量</th>
								</tr>
								</thead>
								<tbody>
								<tr class="success">
									<td id="used_storage">{{used_storage}}</td>
									<td id="all_storage">{{all_storage}}</td>
								</tr>
								</tbody>
							</table>
						</div>
						<!-- /.table-responsive -->
					</div>
					<!-- /.panel-body -->
				</div>
				<!-- /.panel -->
			</div>
		<!--<div class="col-md-offset-2 main">-->
			<!--<h1 class="page-header">Dashboard</h1>-->
			<!--<iframe-->
					<!--style="width:1000px;height:600px" id="configContent" name="frame_content" scrolling="yes"-->
					<!--frameborder="0">-->
			<!--</iframe>-->
		</div>

	</div>
</div>